.card {
  margin-bottom: 2rem;
}

.card-header-title {
  display: block;
}

.card-content p {
  margin-top: 1em;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.card-footer .button {
  width: 100%;
}

#certification {
    margin-bottom: .5rem;
}
